.root {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.paginationBtn {
  padding: 5px 10px;
  border: 0px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  background: transparent;
}
.paginationBtn:hover {
  color: #000000;
  /* background: #ffffff; */
}
.boldText {
  color: #ff5100 !important;
  font-weight: bold;
}
